@import "./variables";

@import "parts/header";
@import "parts/driver";
@import "parts/about";
@import "parts/burger";
@import "parts/services";
@import "parts/cta";
@import "parts/portfolio";
@import "parts/footer";

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $primary-color;
}

section {
  padding-top: 60px;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    // padding: 10px;
  }
}

.half {
  padding: 10px;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
  }

  &:nth-of-type(odd) {
    padding-left: 0;
  }

  &:nth-of-type(even) {
    padding-right: 0;
  }
}

.third {
  padding: 20px;
  width: calc(100% / 3);
}

.column {
  margin-bottom: 40px;
  text-align: left;

}