#about {

  background: $brightest-color;

  .image {
    position: relative;
    background-image: url(../images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

    &:after {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      border: 2px solid;
      border-image-source: $border-image;
      border-image-slice: 1;
    }
  }
}