#top-bar {
  background: $palette-1;
  background-image: $gradient-background;
  box-shadow: $small-shadow;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100px;
  transition: 0.3s;

  &.small {
    height: 65px;

    .container {
      transition: 0.3s ease-in-out;
      padding: 5px 20px;
    }

    @media (max-width: 768px) {
      height: 90px;

      .container {
        padding: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    height: 90px;
  }
}

nav {
  color: $brightest-color;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: 0.5s;

  .logo {
    height: 45px;
    margin-left: -30px;
    display: flex;
    align-items: center;

    .logo-image {
      transform: scale(0.4);

      path {
        opacity: 0.8;
      }

      .path-1 {
        fill: $palette-3;
      }

      .path-2 {
        fill: $palette-5;
      }

      .path-3 {
        fill: $palette-4;
      }

      .path-4 {
        fill: $palette-2;
      }
    }

    span {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      color: $palette-5;
      margin-left: -20px;

      span {
        color: $palette-3;
        margin-left: 0;
      }
    }
  }

  #menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    opacity: 1;


    @media (max-width: 768px) {
      flex-direction: column;
      list-style: none;
      position: absolute;
      top: -500px;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 100px;
      background: $palette-2;
      text-align: center;
      visibility: visible;
      transition: all 0.5s;
      opacity: 0;

      li {
        margin-bottom: 40px;

        &:after {
          content: '';
          display: block;
          border: 1px solid $palette-5;
          width: 40px;
          margin: 20px auto;
          border-radius: 1px;
        }
      }
    }


    a {
      padding: 20px;
      color: $brightest-color;
      text-transform: uppercase;
      position: relative;
      top: 0;
      transition: top ease 0.5s;

      &:hover {
        top: -10px;
      }

      @media (max-width: 768px) {
        font-weight: 700;
        font-size: 20px;
        margin-left: 0;
      }
    }


    &.menu-open {
      overflow: hidden;
      opacity: 1;
      transform: translateY(500px);
    }
  }
}