#services {
  background: #8DE4AF;
  box-shadow: $small-shadow;

  .column {
    width: 380px;

    @media (max-width:320px) {
      width: 300px;
    }

  }

  .service {
    background: white;
    padding: 20px;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    transition: top ease 0.5s, all 0.5s;
    top: 0;
    box-shadow: $big-shadow;


    &:hover {
      top: -20px;
      box-shadow: 0 20px 30px #000000ad;
      background: #389583;

      .icon svg {
        fill: #04396B;
      }

    }

    .icon {
      height: 70px;
      width: 70px;
      margin-bottom: 20px;

      svg {
        fill: #389583;
        transition: all 0.5s;
      }
    }
  }

  .services {
    margin: 0 auto;
    width: 1200px;

    @media (max-width:1200px) {
      width: 100%;
      padding-right: 40px;
    }

    @media (max-width:320px) {
      padding-right: 20px;
    }



    .swiper-wrapper {
      box-sizing: border-box;
      width: 100%;
      padding: 20px;

      @media (max-width:320px) {
        padding: 10px;
      }
    }
  }
}